################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/Api/obj
/Api/Api/bin/Debug/netcoreapp3.1
/Api/.vs/Api
Api/.vs/ProjectEvaluation/api.metadata.v2
Api/.vs/ProjectEvaluation/api.projects.v2
