@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Get swagger App in
        <a href="/swagger" class="text-warning">
            here
        </a>
    </p>
    <p>
        Get Job Dashboard in
        <a href="/hang" class="text-warning">
            here
        </a>
    </p>
</div>
